/* CSS Document */
* { margin:0 auto; padding:0; border:0;}
body { background:#FFF; font:12px "ו"; color:#075B92;}
a { text-decoration:none; color:#075B92;}

.table { border:1px solid #5BA8DE; margin-top:5px;}
.top { background:url(../images/right_table_bg.jpg) repeat-x; height:26px; border-bottom:1px solid #5BA8DE; }

.np {
	border:none;
}
.coolbg {
	font-size:12px;
  border-right: 1px solid #ACACAC;
  border-bottom: 1px solid #ACACAC;
  background-color: #F1F8B4;
  padding:2px;
  padding-right:5px;
  padding-left:5px;
  background: url(allbtbg2.gif) #EFF7D0;
  cursor:pointer;
}

input{ border: #ccc 1px solid;}
